{% extends 'base2.html' %}

{% block title %}Start a New Slide{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'slide_create:list' %}">list</a></li>
<li class="breadcrumb-item active">New language</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}