{% extends 'base2.html' %}

{% block title %}lang{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'slide_create:list' %}">list</a></li>
<li class="breadcrumb-item"><a href="{% url 'slide_create:lang' lang.pk %}">{{ lang.language }}</a></li>
{% endblock %}

{% block content %}

<div class="mb-4">
    <a href="{% url 'slide_create:new_slide' lang.pk %}" class="btn btn-primary">New topic</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>title</th>
            <th>explain</th>
        </tr>
    </thead>
    <tbody>
        {% for slide in lang.slide.all %}
        <tr>
            <td>{{ slide.title }}</td>
            <td>{{ slide.explain }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}