{% extends 'base2.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">list</li>
{% endblock %}

{% block content %}

<div class="mb-4">
    <a href="{% url 'slide_create:create_lang' %}" class="btn btn-primary">New lang</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>language</th>
        </tr>
    </thead>
    <tbody>
        {% for p in prog %}
        <tr>
            <td>
                <a href="{% url 'slide_create:lang' p.pk %}">
                    {{ p.language }}
                </a>
                <small class="text-muted d-block">{{ p.offical_text }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}