{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'prog/prog.css' %}">
    <title>{% block title %}Prog{% endblock %}</title>
</head>

<body>
    <div class="head_test-wrap">
        <h1 class="head_test"><a class="prog" href="{% url 'prog:home' %}">
                Prog
            </a></h1>
    </div>
    <script type="text/javascript">
        function jump() {
            location.href = "{% url 'prog:edit' %}";
        }
    </script>
    <!--ここからメニュー-->
    <ul id="nav-menu">
        <li><a href="{% url 'prog:home' %}">HOME</a></li>
        <li class="hover-click"><a><i class="blogicon-reorder"></i>Index</a>
            <ul>
                {% for l in lang %}
                <li><a href="{% url 'prog:index' l.language %}">{{ l.language }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="hover-click"><a href="#"><i class="blogicon-reorder"></i>Other</a>
            <ul>
                <li><a href="{% url 'prog:setting' %}">Setting</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
            </ul>
        </li>
    </ul>

    <!--jQueryを使用-->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            var contents = $(".hover-click > ul");
            $(".hover-click > a").click(function () {
                $(contents).toggle();
                return false;
            });
            $(".hover-click")
                .mouseover(function () {
                    $(contents).show();
                })
                .mouseout(function () {
                    $(contents).hide();
                });
        });
    </script>
    <!--ここまでメニュー-->
    <br />
    <div class="head_test-wrap2">
        <h1 class="head_test2">
            {% block head %}
            {% endblock %}
        </h1>
    </div>
    {% block content %}
    {% endblock %}
    <div class="btm">
        <div class="copyright">
            <br />
            <p>Copyright(C) 2018-2019 <a href="https://www.iniad.org/">INIAD</a> All Rights Reserved</p>
            <br />
        </div>
    </div>

</body>
{% block endbody %}
{% endblock %}

</html>