{% extends 'prog/base.html' %}

{% block title %}edit{% endblock %}

{% block head %}Edit{% endblock %}

{% block content %}
<br />

<div id="slide_1">
    <iframe id="slide"></iframe>
    <script>
        var slide = document.getElementById('slide');
        //slide.src = "https://docs.google.com/presentation/d/1k9Yfibe3QxeVMMHkr0GDkkcRJXThbiqvETYUu_KtKBI/embed?start=false&amp;loop=false&amp;delayms=3000&slide=id.g4947a87a01_0_76";
        slide.src = "https://docs.google.com/presentation/d/1a0kaf62tE4BK49Esnz-JC05156G51S-wyixD-glF7lU/edit#slide=id.g31045d592f_1_0";
        slide.allowfullscreen = true;
        slide.frameborder = 0;
        slide.mozallowfullscreen = true;
        slide.webkitallowfullscreen = true;
        slide.height = 479;
        slide.width = 800;
    </script>
</div>

<div id="chat">
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
</div>

<script>
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/prog/edit/');
    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data); var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({ 'message': message }));
        messageInputDom.value = '';
    };
</script>

</script>
</div>
{% endblock %}