{% extends 'prog/base.html' %}

{% block title %}home{% endblock %}

{% block head %}Home{% endblock %}

{% block content %}
<br />
<div class="frame">
  {% for l in lang %}

  <div class="index">
    <a href="{% url 'prog:index' l.language %}">
    <button class="btn" type="button" onclick="jump()">{{ l.language }}</button>
    </a>
    <h2>
      {{ l.offical_text }}</h2>
  </div>
  {% endfor %}
</div>

{% endblock %}