{% extends 'prog/base.html' %}

{% block title %}index{% endblock %}

{% block head %}{{ language.language }}{% endblock %}

{% block content %}

<div class="contents">
    {% for slide in language.slide.all %}

    <div class="cont">
        <h2>{{ slide.title }}</h2>
        <a href="{% url 'prog:learn' language.language slide.pk %}">
        <li style="list-style-type: none">{{ slide.explain }}<button type="button" class="button">Go!</button></a></li>
    </div>
    {% endfor %}
</div>

{% endblock %}