{% extends 'prog/base.html' %}

{% block title %}{{ slide.title }}{% endblock %}

{% block head %}{{ slide.title }}{% endblock %}

{% block content %}
<br />

<div id="slide_1">
    <iframe id="slide"></iframe>
    <script>
        var slide = document.getElementById('slide');
        //slide.src = "https://docs.google.com/presentation/d/1k9Yfibe3QxeVMMHkr0GDkkcRJXThbiqvETYUu_KtKBI/embed?start=false&amp;loop=false&amp;delayms=3000&slide=id.g4947a87a01_0_76";
        slide.src = "{{ slide.slide_url}}";
        slide.allowfullscreen = true;
        slide.frameborder = 0;
        slide.mozallowfullscreen = true;
        slide.webkitallowfullscreen = true;
        slide.height = 479;
        slide.width = 800;

    </script>
</div>

<br />

<div class="head_test-wrap2">
    <h1 class="head_test2">
        chat
    </h1>
</div>

<div class="chat">
    <div id='chat2'>
    {% for post in slide.post.all %}
    <p style="background-color:rgb(233, 233, 233);">{{ post.rep_num }} {{ post.post_by.username }} : {{ post.post_at }}</p>
    <p style="background-color: rgb(255, 255, 255)">{{ post.message }}</p>
    {% endfor %}

    <p id='name' style='background-color:rgb(233, 233, 233);'></p>

    </div>

    </br>

    <textarea id="chat-message-input" cols="40" rows="7"></textarea><br />
    <input id="chat-message-submit" type="button" value="Send" />

</div>

    {% endblock %}

{% block endbody %}
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/prog/' + roomName + '/');

    chatSocket.onmessage = function (e) {
        var id = document.getElementById('chat2')
        var data = JSON.parse(e.data);
        var message = "<p style='background-color: rgb(255, 255, 255)'>" + data['message'] + '</p>';
        var num = data['rep'];
        var name = data['user'];
        var time = data['time'];
        name_text = "<p style='background-color:rgb(233, 233, 233);'>" + num + ' ' + name + ' : ' + time + '</p>'
        id.insertAdjacentHTML('beforeend',name_text);
        id.insertAdjacentHTML('beforeend',message);
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var pk = {{ slide.pk }};
    chatSocket.send(JSON.stringify({
        'message': message,
        'pk': pk
    }));
    messageInputDom.value = '';
    //location.reload();
    };
</script>
{% endblock %}