{% extends 'prog/base.html' %}

{% block title %}setting{% endblock %}

{% block head %}Setting{% endblock %}

{% block content %}
<div class="set">
    <h1>user information</h1>
    <li>Your name: {{ user.username }}</li>
    <li>Your Email address: {{ user.email }}</li>
    <br />
</div>
<div>
    <button type="button" class="set_button">Chenge my information!</button>
</div>
{% endblock %}