{% extends 'base2.html' %}

{% block body %}
<div class="container">
  <h3 class="card-title">Log in</h3>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary btn-block">Log in</button>
  </form>
  <div class="card-footer text-muted text-center">
    New to Prog? <a href="{% url 'accounts:signup' %}">Sign up</a>
  </div>
  <div class="text-center py-2">
    <small>
      <a href="{% url 'accounts:password_reset' %}" class="text-muted">Forgot your password?</a>
    </small>
  </div>
</div>
{% endblock %}