{% extends 'base2.html' %}

{% block body %}
<div class="container">
    <h2>Sign up</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
    <div class="card-footer text-muted text-center">
        Already have an account? <a href=>Log in</a>
    </div>
</div>
{% endblock %}