html{
  position: relative;
  min-height: 100%;
}

body{
  margin: 0%;
  height: 100%;
}

h1{
  text-align: left;
  margin-left: 20px;
}

.prog{
  margin-left: 10px;
}

*:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/*buttonのデザイン*/
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

/*見出し(Prog)のデザイン*/
.head_test {
  margin:  0;
  font-size:  36px;
  position:  relative;
  font-weight:  normal;
  margin-bottom: 15px;
  border-bottom: solid 4px rgba(76, 175, 80, 0.6);        /* 線指定 */
  border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;    /* 角丸指定 */
}

/*見出し(その他項目名)のデザイン*/
.head_test2 {
    margin:  0;
    font-size:  24px;
    position:  relative;
    font-weight:  normal;
    display:  inline-block;
    background-color: #fff;
    margin-left: 20px;
    padding: 0 10px;
    text-align: left;
}
p {
    margin:  0;
    line-height: 2;
}
.head_test-wrap2 {
    position: relative;
    margin-bottom:15px;
}
.head_test-wrap2:before {
    content:  '';
    background-color: lightgreen;
    display:  block;
    position:  absolute;
    left:  0;
    width:  100%;
    height:  1px;
    top: 0;
    bottom:  0;
    margin:  auto;
}

/*Copyrights*/
div.btm{
  height: 200px;
  width: auto;
  position: relative;
  text-align: center;
}

div.copyright{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: gray;
  border-top: solid;
  border-top-color: black;
  border-top-width: 5px;
  margin-bottom: 0;
}

/*edit.html*/
 #slide_1{
	 text-align: center;
}

div.chat-style{
  text-align: center;
}

/*home.html*/
div.index{
	padding: 10px;
  width: 50%;
  box-sizing: border-box;
}

div.frame{
	text-align: center;
	display:flex;
  flex-wrap:wrap;
}

/*home.htmlのbuttonデザイン*/
.btn{
	font-size: 30px;
	display: inline-block;
	text-decoration: none;
	background: #1abc9c;
	color: #FFF;
	width: 180px;
	height: 180px;
	line-height: 180px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	box-shadow: 0px 0px 0px 5px #1abc9c;
	border: dashed 1px #FFF;
	transition: .4s;
}

.btn:hover{
	background: #0e8c73;
	 box-shadow: 0px 0px 0px 5px #0e8c73;
}

/*learn.htmlのbuttonデザイン*/
.button {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  width: 200px;
  height: 70px;
  margin: 0 0 0 auto;
  display: block;
}

.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
.button:active {
  top: 3px;
  box-shadow: none;
}

/*learn.html*/
div.cont{
  padding: 10px;
  margin: 10px;
  border: solid;
  border-color: #95C7A4;
}

.message{
  margin-left: 10px;
}

textarea{
  overflow: auto;
}

.chat{
  text-align: center;
}


#chat-message-input{
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin: auto auto auto auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

#chat-message-input:focus {
  border:solid 1px green;
}

#chat-message-submit{
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  width: 200px;
  height: 70px;
  margin: auto auto auto auto;
  display: block;
}

#chat-message-submit::before,
#chat-message-submit::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

#chat-message-submit,
#chat-message-submit::before,
#chat-message-submit::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#chat-message-submit:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}

#chat-message-submit:active {
  top: 3px;
  box-shadow: none;
}

/*setting.html*/
.set li{
  list-style-type: none;
}

.set_button {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  width: 200px;
  height: 70px;
  margin: auto auto auto auto;
  display: block;
}

.set_button::before,
.set_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.set_button,
.set_button::before,
.set_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.set_button:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
.set_button:active {
  top: 3px;
  box-shadow: none;
}

/*Menu*/
#nav-menu{
  list-style-type: none;
  height: 44px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #47a89c;
}
#nav-menu li{
  position: relative;
  width: 33.3%;/*  100÷表示する項目数％ */
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#nav-menu li a{
  display: block;
  margin: 0;
  padding: 14px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  
}
#nav-menu li:hover > a{
  background: #95C7A4;
  color: #fff;
  height: 16px;
}
#nav-menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

#nav-menu li ul li{
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#nav-menu li ul li a{
  padding: 13px 15px;
  background: #47a89c;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
#nav-menu li:hover ul li{
  overflow: visible;
  height: 38px;
  background: #95C7A4;
}

@media (max-width: 760px) {
 .nav-menu-hidden-phone {
    display: none !important;
  }
 #nav-menu {
    height: 60px;
  }
 #nav-menu li{
    width: 25%;/*  100÷表示する項目数％ */
  }
 #nav-menu li a{
  padding: 14px 0;
  }
 #nav-menu li:hover > a{
  background: #95C7A4;
  color: #fff;
  height: 32px;
}
 #nav-menu li:last-child ul{
  left: -100%;
  width: 100%;
}
 #nav-menu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
}
}

@media (min-width: 761px) and (max-width: 1025px) {
  .nav-menu-hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1026px) {
  .nav-menu-hidden-desktop {
    display: none !important;
  }
}
/* ホバー・クリック開閉 */
.hover-click{
  position: relative;
  width: 100%;
  margin: 30px 0;
}
.hover-click > a{
  display: block;
  width: 100%;
  padding: 14px 0;
  background: #47a89c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.hover-click > ul{
  display: none;
  z-index: 9999;
  position: absolute;
  width: 100%;
  background: #95C7A4;
}